/**
* @Author: Aldo Sotolongo
* @Date:   2016-07-03T21:01:59-04:30
* @Email:  aldenso@gmail.com
* @Last modified by:   Aldo Sotolongo
* @Last modified time: 2016-07-04T09:08:22-04:30
*/

.header {
  text-align: center;
}

.header h2 {
  color: blue;
}


body {
  background-color: #FAFAFA;
}

.center {
  text-align: center;
}

.hiddenlocal {
  display: none;
}

.trigger:hover + .hiddenlocal {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.messages {
  font-size: 12px;
  background-color: #ffff00;
}
